<h1>HighChart</h1>
<div class="grid__container">
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions[0]"
    style="width: 100%; height: 100%; display: block;">
  </highcharts-chart>
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions[1]"
    style="width: 100%; height: 100%; display: block;">
  </highcharts-chart>
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions[2]"
    class="grid__col__span"
    style="width: 100%; height: 100%; display: block;">
  </highcharts-chart>
</div>
<div class="text__container">
  <h3>Note</h3>
  <ul>
    <li><strong>Highcharts is free for non-commercial use</strong>, but a license is required for commercial applications, particularly when utilizing advanced features or for tailored commercial implementations.</li>
    <li>It offers <mark>robust support for interactivity</mark>, including tooltips, zooming, panning, and dynamic updates, making it ideal for creating responsive and user-friendly data visualizations.</li>
    <li><strong>Accessibility</strong> is a priority, ensuring charts are navigable via keyboard and compatible with screen readers to serve all users effectively.</li>
    <li>Customization is <strong>highly flexible</strong>, allowing detailed control over every aspect of the chart, including axes, legends, tooltips, and annotations, to meet specific design requirements.</li>
    <li>Highcharts allows <mark>combining several chart types</mark> in a single chart by simply creating series of different types, offering versatile visualization options.</li>
    <li>It supports <strong>templating</strong> similar to Handlebars and Mustache, aiding in the formatting of data labels and other chart elements.</li>
    <li>Highcharts enables the use of <strong>markup within tooltips</strong> for a wider range of customized appearances, providing greater flexibility in presentation.</li>
    <li>An inbuilt markup filter helps <mark>mitigate XSS attacks</mark>, though it allows for configuration, balancing security with customization.</li>
    <li>It provides <strong>CSS class names</strong> and rules to support custom styling and theme creation, giving developers the ability to fully tailor the look and feel of charts to match their application's design.</li>
    <li>Highcharts supports <mark>exporting charts in various formats</mark>, and also provides options to handle this process on either the client side or the server side, ensuring flexibility in deployment.</li>
  </ul>

</div>

