<h1>AG Charts</h1>
<div class="grid__container chart__view">
  <div>
    <button *ngIf="chartChanged" (click)="resetChart()">Back</button>
    <ag-charts *ngIf="options" [options]="options" class="chart"></ag-charts>
  </div>
</div>
<div class="grid__container" *ngIf="gridOptions">
  <ag-grid-angular
    [enableCharts]="enableCharts"
    [enableRangeSelection]="enableRangeSelection"
    [sideBar]="sideBar"
    [popupParent]="popupParent"
    [createChartContainer]="createChartContainer"
    [gridOptions]="gridOptions"
    [rowSelection]="rowSelection"
    [columnDefs]="colDefs"
    class="ag-theme-quartz grid__col__span"
    style="height: 500px;"
  />
</div>
<div class="grid__container chart__view">
  <ag-charts *ngIf="reportChart" [options]="reportChart" class="chart"></ag-charts>
</div>
