<h1>AG Charts</h1>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="grid__container chart__view">
  <div>
    <button *ngIf="stateStack.length" (click)="resetChart()">Back</button>
    <ag-charts *ngIf="options" [options]="options" class="chart"></ag-charts>
  </div>
</div>
<div class="grid__container" *ngIf="gridOptions">
  <ag-grid-angular
    [enableCharts]="enableCharts"
    [enableRangeSelection]="enableRangeSelection"
    [popupParent]="popupParent"
    [createChartContainer]="createChartContainer"
    [gridOptions]="gridOptions"
    [rowSelection]="rowSelection"
    [sideBar]="sideBar"
    class="ag-theme-quartz grid__col__span"
    style="height: 500px;"
  />
</div>
<div class="grid__container chart__view">
  <ag-charts *ngIf="reportChart" [options]="reportChart" class="chart"></ag-charts>
</div>
