<h1>AG Charts</h1>
<div class="grid__container">
  <ag-charts [options]="options" class="chart"></ag-charts>
  <ag-charts [options]="options2" class="chart"></ag-charts>
  <ag-charts [options]="options3" class="grid__col__span"></ag-charts>
</div>
<div class="text__container">
  <h3>Note</h3>
  <ul>
    <li><strong>AG Charts</strong> includes some features that <mark>require a license</mark>, such as advanced chart types beyond basic bar, column, area, and line charts.</li>
    <li>Interactivity features like <strong>zooming, animations, and contextual menus</strong> also <mark>require a license</mark>.</li>
    <li><strong>AG Charts fully supports keyboard navigation</strong>, making it accessible and allowing users to interact with chart elements and navigate through the data without needing a mouse.</li>
    <li><mark>Localization support</mark> is available, making it easier to adapt charts to different languages and regions.</li>
    <li>The <strong>customization options are well-organized</strong>, offering extensive control over axes, labels, grids, and other elements.</li>
    <li>However, <mark>CSS styling options are somewhat limited</mark>, and achieving certain styles may require workarounds.</li>
    <li>
      AG Charts also provides <strong>various APIs</strong>, which offer developers greater flexibility and control over their charts:
      <ul>
        <li>
          <strong>Chart API:</strong> This API allows developers to create and update charts programmatically. It provides methods to add or remove series, update data, and adjust chart configurations dynamically. This is particularly useful for applications that require real-time data visualization or complex interactions with backend data sources. <a href="https://charts.ag-grid.com/javascript/api-create-update/" target="_blank">Learn more</a>.
        </li>
        <li>
          <strong>Events API:</strong> The Events API offers a way to handle user interactions with the charts. It provides events such as clicks on data points, and more. Developers can use this API to create highly interactive charts that respond to user actions, enabling features like tooltips, data drilling, and custom behaviors on specific events. <a href="https://charts.ag-grid.com/javascript/events/" target="_blank">Learn more</a>.
        </li>
        <li>
          <strong>Download API:</strong> This API allows charts to be exported in PNG format. It enables developers to provide users with the option to download charts directly from the application, which is useful for reporting and sharing visual data. <a href="https://charts.ag-grid.com/javascript/api-download/" target="_blank">Learn more</a>.
        </li>
      </ul>
    </li>
  </ul>
</div>


