<div class="grid__container">
  <div style="display: block;">
    <canvas  id="stackedColumnChart" >{{ stackedColumnChart }}</canvas>
  </div>
  <div style="display: block;">
    <canvas  id="floatingBar" >{{ floatingBar }}</canvas>
  </div>
  <div style="display: block;">
    <canvas  id="multistackedChart" >{{ multistackedChart }}</canvas>
  </div>
  <div style="display: block;" class="grid__col__span">
    <canvas  id="stackedFloatingBarChart" >{{ stackedFloatingBarChart }}</canvas>
  </div>
</div>
<div class="text__container">
  <h3>Note</h3>
  <ul>
    <li><strong>Free, MIT Licensed, Open Source:</strong> Chart.js is completely free to use and is distributed under the MIT license, making it an excellent choice for both commercial and non-commercial projects. Its open-source nature also ensures a large community and continuous improvements.</li>

    <li><strong>Supports Variety of Interaction Options, Including Events:</strong> Chart.js provides a variety of built-in interaction options, such as tooltips, hover effects, and click events. Developers can easily hook into these interactions to create dynamic and responsive charts.</li>

    <li><strong>Accessibility Needs Manual Enhancement:</strong> While Chart.js is a powerful tool, developers need to manually add ARIA attributes and other accessibility features to ensure that charts are accessible to all users, including those using screen readers.</li>

    <li><strong>Moderately Flexible Customization:</strong> Chart.js allows for a moderate level of customization. It offers control over axes and supports callbacks for every lifecycle stage of an axis, providing developers with the flexibility to adjust how data is presented.</li>

    <li><strong>Basic Styling Support:</strong> The library supports basic styling options, such as colors and borders. However, more advanced styling might require custom implementations or additional tools to achieve complex visual effects.</li>
  </ul>

</div>
