<div class="grid__container">
  <div style="display: block;">
    <canvas  id="stackedColumnChart" >{{ stackedColumnChart }}</canvas>
  </div>
  <div style="display: block;">
    <canvas  id="floatingBar" >{{ floatingBar }}</canvas>
  </div>
  <div style="display: block;">
    <canvas  id="multistackedChart" >{{ multistackedChart }}</canvas>
  </div>
  <div style="display: block;" class="grid__col__span">
    <canvas  id="stackedFloatingBarChart" >{{ stackedFloatingBarChart }}</canvas>
  </div>
</div>
