/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f5f5f5;
  max-width: 1200px;
  margin: 0 auto;
}

.grid__container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  .grid__item {
    width: 100%;
  }

  .grid__col__span {
    grid-column: span 2;
  }
}

.text__container {
  max-width: 600px;
}
